* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
}

.resume--container {
    border: 1px solid blue;
    border-radius: 4px;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1.5rem 3rem;
}