.education--container {
    /* border: 1px solid red; */
    margin-top: .8rem;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr .1fr;
    justify-items: start;
    align-items: center;
    gap: .5rem;
}

.education--certification > h3 {
    font-weight: 500;
    font-size: 1rem;
}

.education--school, .education--dateRange {
    justify-self: end;
    align-self: center;
    font-weight: 700;
    font-size: .8rem;
}

.education--school {
    display: flex;
    align-items: center;
}

.education--dateRange {
    justify-self: start;
}

.education--certificaction {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.education--school > h4 {
    font-weight: 300;
    font-size: .9rem;
}

.verticalBreak {
    font-weight: 300;
    font-size: 1.25rem;
    margin-left: 1.5rem;
}

.education--edit--btn {
    visibility: hidden;
    margin-left: .5rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: .1rem;
    right: -2rem;
}

.education--edit--btn:hover {
    color: lightgray;
}

.info:hover > .education--edit--btn {
    visibility: visible;
}

.education--inputs > label {
    font-size: .75rem;
}

.education--inputs {
    /* border: 1px solid red; */
    margin-top: .8rem;
    display: grid;
    grid-template-columns: 40% 26.25% 26.25% 7.5%;
    justify-items: start;
    gap: .3rem;
}

.input--container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input--container > label {
    font-size: .6rem;
}

.input--container > input {
    font-size: .75rem;
}

.input--btn--container {
    grid-column: 4 / 5;
    display: flex;
}

.submit--education {
    grid-column: 4 / 5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    justify-self: center;
    align-self: center;
}

.delete--btn {
    cursor: pointer;
    margin-left: .5rem;
    border: 1px solid black;
    border-radius: 3px;
    padding: .1rem;
    height: 1.5rem;
    justify-self: center;
    align-self: center;
}

.delete--btn:hover {
    color: lightgray;
}