.general--container {
    /* border: 1px solid red; */
    display: flex;
    height: 11rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.general--name {
    display: flex;
    justify-content: space-between;
    height: 74px;
    width: 340px;
    border: 1px solid red;
}

.general--name > h1 {
    font-size: 3rem;
}

.general--title {
    font-weight: 300;
}

.info {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.info:hover > .edit--btn {
    visibility: visible;
}

.edit--btn {
    visibility: hidden;
    margin-left: .5rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: .1rem;
}

.edit--btn:hover {
    color: lightgray;
}

input {
    padding: .3rem;
    font-size: 1rem;
}

.submit--btn {
    cursor: pointer;
    margin-left: .5rem;
    border: 1px solid black;
    border-radius: 3px;
    padding: .1rem;
}

.submit--btn:hover {
    color: lightgray;
}

.general--right > div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: .4rem;
}

.material-icons {
    font-size: 1.2rem;
}

p {
    font-size: .7rem;
}