.general--container {
    /* border: 1px solid red; */
    display: flex;
    height: 11rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.general--title {
    font-weight: 300;
}

.input {
    cursor: pointer;
}

.input:hover {
    color: lightgray;
}

.general--name {
    font-size: 3rem;
}

.general--right > div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: .4rem;
}

.material-icons {
    font-size: 1.2rem;
}

p {
    font-size: .7rem;
}